
<div class="w-screen h-screen flex">
  <nav class="bg-white h-screen w-[15rem]">
    <ul class="flex p-4 flex-col divide-y pt-44">
      <li class="cursor-pointer p-5">
        <a routerLink="/produtos/listar">Listagem de produtos</a>
      </li>
      <li class="cursor-pointer p-5">
        <a routerLink="/produtos/criar">Form de produtos</a>
      </li>
    </ul>
  </nav>

  <main class="flex-1 p-10 bg-[#ccc] ">
    <div class="p-6 rounded-md shadow-2xl bg-white ">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<!-- <div class="bg-[#333333] w-screen h-screen flex items-center justify-center">
  <div class="bg-white size-[30rem] rounded-xl p-6"> -->

    <!-- aula observables -->
    <!-- <input
      class="border border-gray-500 px-5 py-2 rounded-md w-full mb-10"
      type="text" name="produto" placeholder="Informe o nome do produto"
      (keyup.enter)="addProduct($event)"
    /> -->

    <!-- <app-button text="Exibir ou esconder o carrinho" color="bg-red-500" (onClick)="toggleShowCart()" />

    <ng-container *ngIf="showCart">
      <app-cart></app-cart>
    </ng-container> -->

    <!-- aula diretivas -->

    <!-- <div class="flex flex-col gap-2 mb-10">
      <div class="text-center mb-10">
        <p class="block  text-3xl text-blue-700 font-bold">Angular</p>

        <ng-container *ngIf="numeroGerado !== undefined; else alternativeTemplate">
          <p class="block text-xxl text-red-700 font-bold">{{ numeroGerado }}</p>
        </ng-container>

        <ng-template #alternativeTemplate>
          <p class="block text-xl text-green-700 font-bold">Click no botao para gerar um numero...</p>
        </ng-template>

      </div>

      <app-button text="Gerar numero aleatorio" color="bg-red-500" (onClick)="handleClick($event)" />
      <app-button text="Limpar numero" color="bg-red-500" (onClick)="clearNumber()" />

    </div>

    <select name="status" class="border border-gray-400 rounded-md px-2 py-1 mb-3" (change)="changeStatus($event)">
      <option [value]="undefined">Selecione...</option>
      <ng-container *ngFor="let status of Status | keyvalue">
        <option [value]="status.value">{{ status.key }}</option>
      </ng-container>
    </select>

    <p class="text-xl font-semibold">Status do pedido: </p>
    <ng-container [ngSwitch]="currentStatus">
      <div *ngSwitchCase="Status.PENDENTE" class="border bg-yellow-400/20 border-yellow-400 rounded-full w-44 text-center py-3 text-yellow-700 font-semibold">
        PENDENTE
      </div>
      <div *ngSwitchCase="Status.CANCELADO" class="border bg-red-400/20 border-red-400 rounded-full w-44 text-center py-3 text-red-700 font-semibold uppercase">
        cancelado
      </div>
      <div *ngSwitchCase="Status.ENTREGUE" class="border bg-green-400/20 border-green-400 rounded-full w-44 text-center py-3 text-green-700 font-semibold uppercase">
        Entregue
      </div>
    </ng-container> -->

  <!-- </div>
</div> -->


